// Place all the styles related to the doses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#doses_new {
  height: 100vh;
  background: $apricot;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  form {
    display: flex;
    width: 40vw;
    flex-direction: column;
  }

  input, textarea, select {
    width: 100%;
    margin: auto;
  }

}
