<footer>
  <div id="footer-menu">
    <ul>
      <li><%= link_to 'about', about_path %></li>
      <li><%= link_to 'search', cocktails_path %></li>
      <li><%= link_to 'contact', contact_path %></li>
    </ul>
  </div>
  <p> <i class="fas fa-heart"></i> created with mucho love by cam</p>
</footer>
