<div id="about-page">

  <div id="about-logo">
    <%= link_to '188 cocktail club', root_path %>
  </div>

  <div id="about-content">
    <h3 class="page-header">about this project</h3>
    <p>project created during the coding bootcamp, between a few beers.
    <br>
    it was cool.
    <br>
    if you </p>
  </div>

  <div id="about-nav">
    <%= link_to 'home', root_path %>
    <%= link_to 'contact', contact_path %>
  </div>

</div>


