<div id="contact-page">

  <div id="contact-header">
    <h2>contact</h2>
    <p>feel free to drop me a few lines if you want to talk about anything.</p>
  </div>


<div id="contact-form">

  <form action="">
    <input type="text" placeholder="your name goes here">
    <input type="email" placeholder="and your email here">
    <button type="submit">send</button>
  </form>

</div>




</div>
