
<div class="container">
  <div class="row">
    <div class="col-xs-6">


      <h1>this is a h1 title</h1>

      <h2>this is a h2 title</h2>

      <h3 class="page-header">this is the page title</h3>

      <h4>this is a h4 title</h4>

      <h5>this is a h5 title</h5>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus inventore veritatis quidem ipsa eum ducimus voluptate. Qui tempora earum, aliquid dicta minus odit ea doloremque, modi vel officia aut soluta. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus inventore veritatis quidem ipsa eum ducimus voluptate. Qui tempora earum, aliquid dicta minus odit ea doloremque, modi vel officia aut soluta. Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>

      <div class="cocktail-card">

        <div class="cocktail-infos">
          <h4>cocktail name goes here</h4>
          <h6>cocktail description goes here</h6>
          <p>description of the cockatil goes here</p>
        </div>

        <div class="cocktail-recipe">
          <ul>
            <li>60 ml of gin <span class="more-details">for exemple km12</span></li>
            <li>150 mL of soda tonic</li>
            <li>ice cubes</li>
            <li>slices of lime</li>
          </ul>
        </div> <!-- end of cocktail-recipe -->

      </div> <!-- end of cockatil-card -->
      </div>
  </div>




