/* ------ VARIABLES : BREAKPOINTS ------ */


$md-device: 768px;
$lg-device: 992px;
$xl-device: 1200px;
$big-device: 1440px;

// // 768 px
// @media only screen and (min-width: $md-device) {

// }

// // 992 px
// @media only screen and (min-width: $lg-device) {

// }

// // 1200 px
// @media only screen and (min-width: $xl-device) {

// }

// // 1440 px
// @media only screen and (min-width: $big-device) {

// }

