// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;

$moss-green: #B5D6B2;
$apricot: #FCC8B2;
$english-green: #19535F;
$eerie-black: #15171E;
$light-gray: #D4D4D4;
$gray: #2A2C32;

$body-color: $gray;
